@font-face {
    font-family: 'Perandory';
    src: url('../font/PerandoryRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold; 
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Burgues Script';
    src: url('../font/BurguesScriptRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }